[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
pymongo = "*"
dnspython = "*"
django-environ = "*"
pillow = "*"
whitenoise = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.11"
