.center-middle-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.image-box {
    border: #0a53be 2px solid;
    /* border round*/
    border-radius: 10px;

    margin: auto;

    height: 500px;
    width: 500px;

}

.image-box:hover {
    cursor: pointer;
}


.image-box::file-selector-button {
    display: none;
}

#image-preview {
    /*background-color: #0a53be;*/
    height: 498px;
    width: 498px;
    object-fit: contain;
}

#submit-upload {
    display: block;
}