[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
pymongo = "*"
dnspython = "*"
django-environ = "*"
pillow = "*"
whitenoise = "*"
opencv-python = "*"
matplotlib = "*"
psycopg2 = "*"
dj-database-url = "*"
djangorestframework = "*"
django-cors-headers = "*"
pytesseract = "*"
uvicorn = "*"
python-socketio = "*"
python-engineio = "*"
gevent = "*"
eventlet = "*"

[dev-packages]

[requires]
python_version = "3.11"
