{% extends 'tr_base.jinja' %}

{% block content %}
    <label class="form-label" for="customFile">Default file input example</label>
    <input type="file" class="form-control" id="customFile"/>
{% endblock %}
