{% extends 'tr_base.jinja' %}

{% block content %}
    <div class="center-middle-screen">
        <div id="image-box">
            <input type="file" class="form-control" id="customFile"/>
        </div>
    </div>

{% endblock %}
