{% extends 'base.jinja' %}

{% block title %}
    Ngày Dài Trôi Như Dấu 3 Chấm Câu
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <img src="{{ image }}" class="card-img-top" alt="Ảnh Hảo">
                    <div class="card-body">
                        <h5 class="card-title">Image Box Title</h5>
                        <p class="card-text">This is some sample text describing the image box.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
